workflows/Smart Feedback.json
{
  "name": "Smart Feedback",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "tableId": "feedback",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').first().json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "e21dd160-1c8e-443e-b1a3-05a86e47d577",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "VHrfrD9a2TrTteVr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const classifications = $input.all();\n\nconst topLabel = classifications[0].json.label;\n\nconst category = topLabel === \"neither\" ? \"General\" : \"Bug\";\nconst priority = topLabel === \"neither\" ? \"Low\" : \"High\";\n\nreturn {\n  json: {\n    category: category,\n    priority: priority,\n    status: 'Processed'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "2c29dd00-59a1-40a8-8d61-911b4162d542",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.body.record.description}}\",\n  \"parameters\": {\n    \"candidate_labels\": [\"urgent\", \"broken\", \"error\", \"neither\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        0
      ],
      "id": "734724ba-1212-47fe-9112-e49c55d2702e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "6giJJ5aIaTf3mIxH",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "41160152-633c-4477-9f38-bc5de51cc686",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6218b34a-23be-4ee8-86ea-f63327329ddd",
      "name": "Webhook",
      "webhookId": "41160152-633c-4477-9f38-bc5de51cc686"
    }
  ],
  "pinData": {},
  "connections": {
    "Update a row": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "62883d1c-9344-4bd3-807e-84896edead10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71f6c84635df9874b0e6526cf16935e8991f0d71eecc28a1a05268e99f52c4e0"
  },
  "id": "g_GgNC6IHNHVp8AyYqfLd",
  "tags": []
}